@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.section {
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: #edeef2;
}

.text-colgatered {
  color: #f5010b;
}

.bg-colgatered {
  background-color: #f5010b;
}

a {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p {
  a {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}

h1,
h2,
h3,
h4,
h5 {
  a {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}

@media (min-width: 992px) {
  .navbar-collapse {
    position: relative;
    left: 20%;
  }

  .profile {
    position: relative;
    left: -5%;
  }
}

/* Masked Banner */

.custom-mask-container {
  position: relative;
  max-width: 100%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.custom-mask-container img {
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: inherit;
}

.custom-mask-overlay {
  position: absolute;
  bottom: -3px;
  left: -3px;
  background-color: #edeef2;
  padding: 12px 30px;
  border-radius: 0px 15px 0px 0px;
  display: flex;
  align-items: center;
}

.custom-mask-text {
  display: flex;
  align-items: center;
  gap: 10px; /* Spacing between text and icon */
}

.custom-mask-text span {
  font-size: 1rem;
  color: #000;
  font-weight: 500;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Adjust size for a perfect circle */
  height: 40px;
  font-size: 1.2rem;
}

.icon-container i {
  margin: 0;
}

@media (max-width: 768px) {
  .custom-mask-overlay {
    bottom: 8px;
    left: 8px;
    padding: 8px 12px;
  }

  .custom-mask-text span {
    font-size: 0.9rem;
  }

  .icon-container {
    width: 35px; /* Slightly smaller for mobile */
    height: 35px;
    font-size: 1rem;
  }
}

/* Mini Scroll Carousal */

.custom-mask-container {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 18px;
}

.learn-more {
  position: absolute;
  bottom: 15px;
  left: 20px;
  color: white;
  text-decoration: none;
}

.upper-arrow {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  border-radius: 50%;
  color: white;
}

.card-inset {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.card-border {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}